<%- include ('./partials/header.ejs')%>

<body>
    <%- include ('./partials/navbar.ejs')%>

    <main>
        <div class="container">

            <div class="row cardQuestion">
                <div class="col-12">
                    <h2><%= pergunta.titulo %></h2>
                    <p><%= pergunta.descricao %></p>
                </div>
            </div>

            <hr>

            <div class="row cardWriteAnswer">
                <div class="col-12">
                    <h4>Responda</h4>
            
                    <form action="/responder" method="POST">
                        <label>Digite sua resposta:</label>
                        <textarea name="corpo" id="" class="form-control" rows="5" placeholder="Digite sua resposta aqui"></textarea><br>
                        <input type="hidden" name="perguntaId" value="<%= pergunta.id %>">
                        <button type="submit" class="btn btn-dark float-right">Responder</button>
                    </form>
                </div>
            </div>

            <hr>
            <h4>Respostas:</h4>

            <% respostas.forEach(resposta => { %>
                <div class="row cardAnswers">
                    <div class="col-12">
                        <p><%= resposta.corpo %></p>
                    </div>
                </div>
            <% }) %>
        </div>
    </main>



<%- include ('./partials/footer.ejs')%>